body.body{
    margin-top: 20px;
    margin-left: 50px;
    font-family: Consolas;
    font-size: 10pt;
}
div.menu{
    font-family: Consolas;
    font-size: 11pt;
    font-weight: bold;
}
div.api_content
{
    margin-left: 30px;
    background-color: floralwhite;
    border: 1px;
    border-color: lightgray;
}
table.api_content
{
    margin-left: 10px;
    width: 100%;
    /*font-family: Verdana, Arial, sans-serif;*/
    /*font-size: 9pt;*/
}
td.api_content_subject
{
    width: 100px;
    font-weight: bolder;
    color: black;
    vertical-align: top;
}
