{% extends "base.html" %}

{% block content %}
    <div>
        move site to AWS<br>
        <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/GettingStarted.html">Getting started using Elastic Beanstalk</a><br>
        <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-flask.html">AWS tutorial for deploying a flask application to Elastic Beanstalk</a><br>
        <br>
        <a href=" https://console.aws.amazon.com/elasticbeanstalk/home#/gettingStarted?applicationName=getting-started-app">Elastic beanstalk console</a>
    </div>
{% endblock %}