{% extends "base.html" %}

{% block content %}
    <div>
        move site to AWS<br>
        <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/GettingStarted.html" target="_blank">Getting started using Elastic Beanstalk</a><br>
        <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-flask.html" target="_blank">AWS tutorial for deploying a flask application to Elastic Beanstalk</a><br>
        <a href="https://www.codementor.io/@abhishake/pycharm-setup-for-aws-automatic-deployment-m7n8uu2n4" target="_blank">pycharm-setup-for-aws-automatic-deployment</a>
        <br>
        <a href=" https://console.aws.amazon.com/elasticbeanstalk/home#/gettingStarted?applicationName=getting-started-app" target="_blank">Elastic beanstalk console</a>
    </div>
{% endblock %}