{% extends "base.html" %}

{% block content %}
    <div> Create Data</div>
    <br>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} <br>
        {{ form.name(size=20) }}<br>
        {{ form.lastname.label }}<br> {{ form.lastname(size=20) }}<br>
        {{ form.place_id.label }}<br> {{ form.place_id() }}<br><br>
        {{ form.submit() }}
    </form>

     <form action="{{ url_for('home.create_place') }}" method="POST">
        <input type="submit" value="create new place" />
    </form>

{% endblock %}

