{% extends "base.html" %}

{% block content %}
    <div> Create data 2</div>

    <form action="{{ url_for('home.update_submit') }}" method="POST">

        {% for ent in data %}

            <p>
            <input name="entity_id" type='hidden' value="{{ ent.id }}">
            <input name="entity_name" type="text" value="{{ ent.name }}"/>
            <input name="entity_lastname" type="text" value="{{ ent.lastname }}"/>
            </p>

        {% endfor %}

        <input type="submit" value="Submit">
    </form>

{% endblock %}