{% extends "base.html" %}

{% block content %}
    <div> Create Place </div>
        <br>
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.place.label }} {{ form.place(size=40) }}
                {{ form.submit() }}
            {% for message in form.place.errors %}
            {{ message }}
            {% endfor %}
        </form>
        <br>
         <form action="{{ url_for('home.create') }}">
            <input type="submit" value="create new entity" />
        </form>


{% endblock %}