{% extends "base.html" %}

{% block content %}
    <div> Delete Data</div>

    <form action="{{ url_for('home.delete') }}" method="POST">
{#        <form action="{{ url_for('home.delete_submit') }}" method="POST">#}
        {% for ent in data %}

            <p>
                <input name="entity_id" type="checkbox" value="{{ ent.id }}"/> {{ ent.name }} {{ ent.lastname }}, {{ ent.place }}
            </p>

        {% endfor %}
        <input type="submit" value="Submit">
    </form>

{% endblock %}