{% extends "base.html" %}

{% block content %}
    <div>
        <b>General plan</b><br>
        <ul>
            <li>DONE: create database with one table</li>
            <li>DONE: make flask site</li>
            <li>DONE: integrate WTForms</li>
            <li>DONE: add read feature</li>
            <li>DONE: add create feature</li>
            <li>DONE: add delete feature</li>
            <li>DONE: add modify feature</li>
                <ul>
                    <li>DONE: first with one variable</li>
                    <li>DONE: then with multiple variables</li>
                </ul>
            <li>DONE: add error handling</li>
            <ul>
                <li>DONE: duplicate name (is handled in the database by unique constraint)</li>
                <li>DONE: too long name</li>
            </ul>
            <li>DONE: add blueprint</li>
            <li>DONE: integrate migrate database functionality (?)</li>
            <li>DONE: add create database feature (in sql server and postgress)</li>
            <li>DONE: add relational table</li>
            <li>handle empty inputs on create page</li>
            <li>add cascade function in flask (on deletion of parent, the child should also be deleted)</li>
            <li>integrate login and authentication</li>
            <li>make default AAM layout</li>
            <li>make basic template for web interfaces</li>
        </ul>
<br>
        <b>Model plan</b><br>
        <ul>
            <li>make data model</li>
            <li>create database for models</li>
            <li>integrate with risk sharepoint site (check for changes)</li>
            <li>create flask site</li>
            <li>create functionality:</li>
            <ul>
                <li>add/modify/delete model</li>
                <li>add/modify/delete relation</li>
                <li>view model and all its dependencies</li>
                <li>view datatype dependencies</li>
            </ul>
            <li>integrate with Neo4j using py2neo</li>
            <ul>
                <li>store graph algorithm results in database (centrality, betweennes, pagerank, clusters, etc)</li>
            </ul>
        </ul>


    </div>
{% endblock %}