{% extends "base.html" %}

{% block content %}
    <div>
        <b>Code snippets</b>
        <br><br>
        Tool for storing and reporting on code snippets.<br>
        add by user, by programming language<br>
        extract by user, programming language and tags<br>
        <br>
        <b>Todo</b>
        <ul>
            <li>handle mulitple tags</li>
            <li>add search</li>
            <li>integrate login and authentication</li>
            <li>deploy on AWS</li>
            <li>add testing using pytest</li>
        </ul>
    </div>
{% endblock %}