{% extends "base.html" %}

{% block content %}
    <div> Update data</div>

    <form action="{{ url_for('home.update') }}" method="POST">

        {% for ent in data %}

            <p>
            <input name="entity_id" type='hidden' value="{{ ent.id }}">
            <input name="entity_name" type="text" value="{{ ent.name }}"/>
            <input name="entity_lastname" type="text" value="{{ ent.lastname }}"/>
            <input name="entity_place" type="text" value="{{ ent.place_id }}"/>
            </p>

        {% endfor %}

        <input type="submit" value="Submit">
    </form>

{% endblock %}